
<h1 class="form">Booking Request Confirmation</h1>
<div class="form">
<p>Thank you for your request. Please be advised that this booking is subject to approval.</p>

<br>

<%= link_to 'New Booking', new_booking_path %>
<%= link_to 'Home', root_path %>
</div>
