<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 class="form">Hello</h1>
    <p>
      Your booking at the Hub has been approved.<br>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
