<div class="area_container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @resource.item %>
</p>
</div>
<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
