/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'DINOT-Regular', sans-serif;
}

html, body {
  margin: 0;
}

.flex {
  display: flex;
}
/*  logo and login menu        */
.container
{
  @extend %flex


  justify-content: space-between;
}

.topNav
{
    @extend.flex;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .topNav a
  {
    @extend.flex;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px solid #0082C8;
  }

  a
  {
    text-decoration: none;
    color: black;
    padding: 8px;
    background-color: white;
  }

.topNav_item
{
  @extend.flex;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topNav_item li {
  justify-content: space-between;
}

.flex-item a
{

}

.logo
{
    width: 10px;
  margin: 0 5px;
}
/* log and login menu end */

/* nav menu areas and book */
.navMenu
{
  @extend .flex
  flex-wrap: wrap;
  background-color: #374EA1;
}


.navMenu_item
{
    @extend .flex;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  font-weight: bold;
  flex-wrap: wrap;
}
.navMenu_item_button
{
    @extend .flex;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  font-weight: bold;
  background-color: #5bc2ee;
}

.button_book
{
  text-decoration: none;
  list-style: none;
}

.navMenu_item a
{
  text-decoration: none;
  padding:20px;
  margin: inherit;
  text-align: center;
}

.navMenu_item_button a
{
  text-decoration: none;
  color: inherit;
  padding:20px;
  margin: inherit;
  text-align: center;
  background-color:#0089b9;
}
/* end nav  */
 .sub-nav
 {
   display: flex;
   flex-flow: row wrap;
   list-style: none;
   justify-content: space-around;

   font-weight: bold;
   background-color: #0089b9;
   color: white;

 }

.sub-nav a
{
  display:block;
}

 img {
   vertical-align: inherit;
 }

 .navFooter
 {
   display: flex;
 }

 .footerItem
 {
   display: flex;

 }

.footerItem a
{
display: block;
}
 ul li
 {
   color: #d0d9de;
 }
<<<<<<< HEAD:app/assets/stylesheets/application.css

 a
 {
   text-decoration: none;
   color: black;
 }
