/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
*= require fullcalendar
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'DINOT-Regular', sans-serif;
}

html, body {
  margin: 0;
}

.flex {
  display: flex;
}
/*  logo and login menu        */
.container
{
  @extend.flex;


  justify-content: space-between;
}

.topNav
{
    @extend.flex;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
  }

  .topNav a
  {
    @extend.flex;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px solid #0082C8;
    padding: 8px;
  }

  .navMenu_item a
  {
    text-decoration: none;
    color: black;
    padding: 0;
    background-color: white;
    justify-content: space-between;
  }

.topNav_item
{
  @extend.flex;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topNav_item {
  margin: 10px 0;
  padding: 0 10px;
}

.topNav_item li {
  justify-content: space-between;
}

.topNav_item img {
  height: 70px;
}

.flex-item a
{

}

.logo
{
  max-width: 50%;
  margin: 0 5px;
}
/* log and login menu end */

/* nav menu areas and book */
.navMenu
{
  @extend .flex;
  flex-wrap: wrap;
  background-color: #374EA1;
}

.navMenu  {
  width: 100%;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  /*padding-left: 10px;
  padding-right: 10px;*/
}

.navMenuOptions {
  width: 80%;

  display: inline-block;
}

.navMenuOptions ul {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.navMenu ul select {
  margin-left: 5px;
  /*margin-right: 100px;*/
}

.navMenu_item
{
    @extend .flex;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  font-weight: bold;
  flex-wrap: wrap;
}
.navMenu_item_button
{
  @extend .flex;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  font-weight: bold;
  background-color: #5bc2ee;
}

.button_book
{
  text-decoration: none;
  list-style: none;
}

.navMenu_item a
{
  text-decoration: none;
  padding: 10px;
  margin-left: 6px;
  text-align: center;
}

.navMenu_item_button a
{
  text-decoration: none;
  color: inherit;
  padding:20px;
  margin: inherit;
  text-align: center;
  background-color:#0089b9;
}
/* end nav  */
 .sub-nav
 {
   margin: 0;
   padding: 0;
   display: flex;
   flex-flow: row wrap;
   list-style: none;
   justify-content: space-around;
   font-weight: bold;
   background-color: #374EA1;
   color: white;
 }

.sub-nav a
{
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}

.sub-nav img {
  height: 90px;
}

 img {
   vertical-align: inherit;
 }

 .navMenuLeft {
   display: inline-block;
   /*float: left;*/
   /*display: block;*/
   /*float: left;*/
   align-items: left;
   /*margin-top: 10px;*/
   /*width: 40%;*/
   align-items: left;
 }

 .navMenuLeft ul {
   align-items: left;
   margin-left: 0px;
   padding-left: 0px;
 }

 .navMenuRight {
   display: inline-block;
   /*display: block;*/
   /*float: right;*/
   /*margin: 10px;*/
   /*width: 50%;*/
   align-items: right;
 }

 .navMenuRight ul {
   align-items: left;
   margin-left: 0px;
   padding-left: 0px;
 }


 .navFooter
 {
   display: flex;
   ul {
     width: 100%;
     justify-content: space-between;
     align-items: center;
     margin: 5px;
   }
   p {
     margin: 20px;

   }

 }

 .footerItem
 {
   display: flex;

 }

.footerItem a
{
display: block;
}
 ul li
 {
   color: #d0d9de;
 }


 a
 {
   text-decoration: none;
   color: black;
 }
