/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:
}
li a {
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



  .top-nav {
     display: flex;
     flex-flow: row wrap;
     list-style: none;

     justify-content: space-between;
     font-weight: bold;

 }

 .main-nav ul{

   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   width:
    list-style: none;

     background-color: #0089b9;
     order:

 }

 .flex-item {

      padding:5px;
      width:200px;
      height: 20px;
      margin: 3px;
      line-height: normal;

      font-weight: bold;
      font-size: 1em;
      text-align:


 }

.main-nav a {

    text-decoration: none;
     color: #5bc2ee;
     list-style: none;
 }



 .sub-nav {

     display: flex;
     flex-flow: row wrap;
     list-style: none;
     margin: 0;
     padding: 0;
     justify-content: space-around;

     font-weight: bold;
     color: #fff;
     background-color: #0089B9;
   }

a {
    
}

 a hover {

   background-color:#8457a3;
 }
