/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
       display: flex;
       flex-flow: row wrap;
       justify-content: space-between;
       width:
       flex-direction: column;



  }


  div ul {

     list-style: none;
     text-decoration: none;
      color: #5bc2ee;
      background-color: #0089b9;

  }
 .navigation {

 text-decoration: none;

 }

 .top-nav {
   display: flex;
   flex-flow: row wrap;
   list-style: none;

   justify-content: space-between;
   font-weight: bold;
   color:
   background-color: #fff;
 }
 .main-nav {

   display: flex;
   flex-flow: row wrap;
   list-style: none;
   justify-content: space-between;
   text-decoration: none;
   background-color: #0089b9;

     margin: 0;
     padding: 0;

    color: #d0d9de;

    font-weight: bold;

 }

 .sub-nav {

   display: flex;
   flex-flow: row wrap;
   list-style: none;
   justify-content: space-around;

   font-weight: bold;
   background-color: #0089B9;
 }

 ul li {

   color: #d0d9de;
 }

 a {
   text-decoration: none;
   color:
 }
 a hover {

   background-color:
 }
