// Place all the styles related to the Areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {



}

.area_container
{
  display:flex;
  flex-direction: row-reverse;
}

.area
{

}

.area_item
{
  display: flex;
  color: black;
  justify-content: flex-start;
}
.image_item
{
  display: flex;
  justify-content: flex-start;
}
