$body-bg: #c1bdba;
$form-bg: white;
/*$form-bg: #D0D9DE;*/
$white: #ffffff;

$main: #0089b9;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

*, *:before, *:after {
  box-sizing: border-box;
}

.list_view_calendar {
  background:rgba($form-bg,.9);
  padding: 40px;
  max-width:80%;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
  position: middle;
}

.status-pending
{
  opacity: 0.4;
}
