body {
  max-width: 100%;
  max-height: auto;
  font-family: 'DINOT-Regular', sans-serif;
}

.table_header {
  text-align: left;
  text-decoration: bold;
}

td a:hover {
  
}

.details {
  text-align: left;
}
