<h1 class="form">Editing Detail</h1>

<%= render 'form', detail: @detail, booking: @booking, submit_text: "Save Booking" %>

<%= link_to 'Show', booking_detail_path %> |
<%= link_to 'Back', booking_path(@booking) %>
